<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bye</title>
</head>
<body>
     <!--
     Размещение висячих строк внутри тегов <body>, не обрамленных хотя бы тегами параграфа <p> штука нехорошая,
     ведь в прежней JSP версии страницы у нас была просто строка: Bye ${sessionScope.user.username}! и все.
     Исправим ситуацию. И теперь уже применим префикс th: и атрибут text см.
     DOC/ThymeleafManual/ThymeleafTutorial/Thymeleaf_3_Usage_Text.txt

     Под этим префиксом (нотацией) пойдет наша динамическая составляющая, которая меняется в зависимости от
     запроса. Вариант может быть заключен в теги <p> </>p>. Как и в resources/templates/greeting/hello.html
     мы имеем некий шаблонный (dummy) текст, чтобы мы понимали, что будет отображаться на странице вернувшейся
     пользователю на его запрос. И конечно под нотацией th:text находится динамическая составляющая нашего кода.

     Однако тут есть небольшое различие со страницей resources/templates/greeting/hello.html - там мы обращались
     к области приложения requestScope, тут при обращении к странице bye.html нам нужно обратиться к области
     сессии, чтобы получить данные о пользователе, что мы и делаем применив session.*, комментарии в файле
     hello.html кратко описывают варианты обращения к переменным в различных областях видимости.
     -->

    <p th:text="|Bye ${session.user.username} !|">Dummy Bye User !</p>
</body>
</html>