<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

<!--
Размещение висячих строк внутри тегов <body>, не обрамленных хотя бы тегами параграфа <p> штука нехорошая,
ведь в прежней JSP версии страницы у нас была просто строка: Hello ${requestScope.userReadDto.username}! и
все. Исправим ситуацию. И теперь уже применим префикс th: и атрибут text см.
DOC/ThymeleafManual/ThymeleafTutorial/Thymeleaf_3_Usage_Text.txt

Под этим префиксом th: пойдет наша динамическая составляющая, которая меняется в зависимости от запроса.
Вариант может быть заключен в тег <span>, например. Все что внутри этого тега и будет динамически меняться
при отображении.

В качестве примера, для наглядности того, что мы ожидаем в отображении этой строки, применяем некую
подсказку - "Dummy text", т.е. это текст будет заменен динамической составляющей, или запрошенными данными,
теми, что будут лежать под атрибутом th:text.

В данном случае это уже примитивный шаблон, т.к. мы видим какой текст нам стоит ожидать ("Dummy text") и
понимаем, что в динамике его заменят данные из - "${userReadDto.username}". Тут нам стало чуть проще,
все прилетающие данные являются requestScope и мы опускаем этот параметр просто применив userReadDto.username.

Если бы нам понадобилась область видимости сессии мы бы применили - session.*, если бы нам понадобилась
область видимости приложения мы бы обратились к application.*. Но у нас область видимости запроса и
requestScope мы опускаем.
-->
<p>Hello <span th:text="${userReadDto.username}">Dummy text</span>!</p>

<!--
Второй вариант формирования строки отображения - это конкатенация строк внутри нотации th:, тут мы так же
получаем наглядный шаблон того, что увидит пользователь приложения на свой запрос "Hello user!", а под
нотацией текстового шаблона th:text скрывается обычный текст соединенный с динамической составляющей ${...},
см. DOC/ThymeleafManual/ThymeleafTutorial/Thymeleaf_4_Standard_Expression_Syntax.txt, которая будет обычной
переменной и ее 'сигнатуру' мы видим явно (класс userReadDto и поле username).
-->
<p th:text="|Hello ${userReadDto.username}!|">Hello user!</p>

</body>
</html>